<launch>

<node pkg="rostopic" type="rostopic" name="pose_final" args="pub move_base_simple/goal geometry_msgs/PoseStamped '{header:{seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: 'map'}, pose:{position: {x: -4.68, y: -16.53, z: 0.0}, orientation: {x: 0.0, y: 0.0, z: -0.57, w: 0.81}}}'" output="screen"/>

</launch>

