<launch>
  <arg name="map_file" />

  <!--- Run mapserver -->
  <include file="$(find robotino_navigation)/launch/map_server.launch">
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <!--- Run AMCL -->
  <include file="$(find amcl)/examples/amcl_omni.launch" />

    <!--- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find robotino_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robotino_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robotino_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robotino_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robotino_navigation)/config/dwa_planner_ros.yaml" command="load" />
    <!--<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />-->
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="controller_frequency" value="5.0" />
  <!---  <remap from="cmd_vel" to="r_cmd_vel" /> -->

   </node>
  

<?ignore
  <!-- Run rviz -->
  <include file="$(find robotino_navigation)/launch/rviz.launch"/>
?>


  <!-- Run robotino_safety_node -->
<!--- <include file="$(find robotino_safety)/launch/robotino_safety_node.launch"/> -->




<node pkg="rostopic" type="rostopic" name="pose_final" args="pub move_base_simple/goal geometry_msgs/PoseStamped '{header:{seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: 'map'}, 
pose:{position: {x: 0.25, y: 0.1, z: 0.0}, orientation: {x: 0.0, y: 0.0, z: -0.20, w: 1}}}'" output="screen"/>

</launch>
